
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1 }
Define NormalDistribution { NormalDistribution1 }
Define EntityGenerator { EntityGenerator1 }
Define EntityProcessor { EntityProcessor1  EntityProcessor2 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1  Queue2 }
Define SimEntity { SimEntity1 }
Define Resource { Resource1  Resource2 }
Define ColladaModel { Axis  dafTruck-model  route2VoiesAvecTrottoirs-model }
Define DisplayEntity { XY-Grid  XYZ-Axis  dafTruck  dafTruck_Copy1  route2VoiesAvecTrottoirs  route2VoiesAvecTrottoirs_Copy1  route2VoiesAvecTrottoirs_Copy2  route2VoiesAvecTrottoirs_Copy3 }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Shape { Shape1 }
Define View { Codigo  Planta }

Define EntityLabel { Shape1.Label  SimEntity1.Label  dafTruck.Label  dafTruck_Copy1.Label  route2VoiesAvecTrottoirs.Label  route2VoiesAvecTrottoirs_Copy1.Label  route2VoiesAvecTrottoirs_Copy2.Label  route2VoiesAvecTrottoirs_Copy3.Label }


NormalDistribution1 UnitType { TimeUnit }

Simulation Description { 'Simulation run control inputs' }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[Queue1].QueueLength == 0' }

# *** NormalDistribution ***

NormalDistribution1 RandomSeed { 1 }
NormalDistribution1 MinValue { 2  s }
NormalDistribution1 MaxValue { 20  s }
NormalDistribution1 Mean { 5  s }
NormalDistribution1 StandardDeviation { 1  s }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Queue2 }
EntityGenerator1 InterArrivalTime { NormalDistribution1 }
EntityGenerator1 EntitiesPerArrival { 6 }
EntityGenerator1 PrototypeEntity { SimEntity1 }
EntityGenerator1 MaxNumber { 1002 }

# *** EntityProcessor ***

EntityProcessor1 NextComponent { EntitySink1 }
EntityProcessor1 WaitQueue { Queue1 }
EntityProcessor1 ResourceList { Resource1 }
EntityProcessor1 ServiceTime { 10  s }

EntityProcessor2 ImmediateThresholdList { ExpressionThreshold1 }
EntityProcessor2 NextComponent { Queue1 }
EntityProcessor2 WaitQueue { Queue2 }
EntityProcessor2 ResourceList { Resource2 }
EntityProcessor2 Capacity { 6 }
EntityProcessor2 ServiceTime { 1  s }

# *** Resource ***

Resource2 Capacity { 6 }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 8 }
Simulation ShowLabels { FALSE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation OutputViewerPos { 604  563 }
Simulation OutputViewerSize { 420  205 }

ExpressionThreshold1 Position { -1.5  18.7  0.0  m }
ExpressionThreshold1 VisibleViews { Codigo }

NormalDistribution1 Position { -1.9  13.3  0.0  m }
NormalDistribution1 VisibleViews { Codigo }

EntityGenerator1 Position { -1.6  11.6  0.0  m }
EntityGenerator1 VisibleViews { Codigo }

EntityProcessor1 Position { 1.6  25.5  0.0  m }
EntityProcessor1 Orientation { 0.0  0.0  -90  deg }
EntityProcessor1 VisibleViews { Codigo }

EntityProcessor2 Position { 2.7  12.0  0.0  m }
EntityProcessor2 Size {  }
EntityProcessor2 VisibleViews { Codigo }

EntitySink1 Position { 11.9  11.9  0.0  m }
EntitySink1 VisibleViews { Codigo }

Queue1 Position { 1.6  25.2  0.05  m }
Queue1 Size {  }
Queue1 Orientation { 0.0  0.0  -270  deg }
Queue1 VisibleViews { Codigo }
Queue1 MaxPerLine { 6 }
Queue1 MaxRows {  }

Queue2 Position { 1.3  11.8  0.0  m }
Queue2 Size {  }
Queue2 Orientation { 0.0  0.0  -89.0  deg }
Queue2 VisibleViews { Codigo }
Queue2 MaxPerLine { 6 }
Queue2 MaxRows { 20 }

SimEntity1 Position { -2.9  10.3  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }
SimEntity1 Size { 1  0.1  0.1  m }
SimEntity1 DisplayModel { Cube }

Resource1 Position { 10.7  14.4  0.0  m }
Resource1 VisibleViews { Codigo }

Resource2 Position { 4.3  11.7  0.0  m }
Resource2 Size {  }
Resource2 VisibleViews { Codigo }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

dafTruck-model ColladaFile { dafTruck.zip }

route2VoiesAvecTrottoirs-model ColladaFile { route2VoiesAvecTrottoirs.zip }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

dafTruck Position { 2.8  5.9  1.5  m }
dafTruck Alignment { 0.0  0.0  0.0 }
dafTruck Size { 3  3  10  m }
dafTruck Orientation { 90  0  0  deg }
dafTruck DisplayModel { dafTruck-model }

dafTruck_Copy1 Position { 31.4  5.5  1.5  m }
dafTruck_Copy1 Alignment { 0.0  0.0  0.0 }
dafTruck_Copy1 Size { 3  3  10  m }
dafTruck_Copy1 Orientation { 90  0  0  deg }
dafTruck_Copy1 DisplayModel { dafTruck-model }

route2VoiesAvecTrottoirs Position { 28.5  -5.1  0.0  m }
route2VoiesAvecTrottoirs Alignment { 0.0  0.0  0.0 }
route2VoiesAvecTrottoirs Size { 13  0.2  10  m }
route2VoiesAvecTrottoirs Orientation { 90  0  0  deg }
route2VoiesAvecTrottoirs DisplayModel { route2VoiesAvecTrottoirs-model }

route2VoiesAvecTrottoirs_Copy1 Position { 15.6  -5.1  0.0  m }
route2VoiesAvecTrottoirs_Copy1 Alignment { 0.0  0.0  0.0 }
route2VoiesAvecTrottoirs_Copy1 Size { 13  0.2  10  m }
route2VoiesAvecTrottoirs_Copy1 Orientation { 90  0  0  deg }
route2VoiesAvecTrottoirs_Copy1 DisplayModel { route2VoiesAvecTrottoirs-model }

route2VoiesAvecTrottoirs_Copy2 Position { 2.6  -5.1  0.0  m }
route2VoiesAvecTrottoirs_Copy2 Alignment { 0.0  0.0  0.0 }
route2VoiesAvecTrottoirs_Copy2 Size { 13  0.2  10  m }
route2VoiesAvecTrottoirs_Copy2 Orientation { 90  0  0  deg }
route2VoiesAvecTrottoirs_Copy2 DisplayModel { route2VoiesAvecTrottoirs-model }

route2VoiesAvecTrottoirs_Copy3 Position { 41.1  -5.1  0.0  m }
route2VoiesAvecTrottoirs_Copy3 Alignment { 0.0  0.0  0.0 }
route2VoiesAvecTrottoirs_Copy3 Size { 13  0.2  10  m }
route2VoiesAvecTrottoirs_Copy3 Orientation { 90  0  0  deg }
route2VoiesAvecTrottoirs_Copy3 DisplayModel { route2VoiesAvecTrottoirs-model }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Shape ***

Shape1 Position { 17.5  15.0  -0.001  m }
Shape1 Size { 35  30  1  m }
Shape1 FillColour { PapayaWhip }

# *** View ***

Codigo ViewPosition { 17.7  40.6  11.890771  m }
Codigo ViewDirection { -0.34897  -0.82265  -0.448851  m }
Codigo WindowSize { 804  412 }
Codigo WindowPosition {  }
Codigo ShowWindow { TRUE }
Codigo Lock2D { FALSE }

Planta Description { 'Default view window' }
Planta ViewPosition { 44.795307  25.483558  30.01325  m }
Planta ViewDirection { -0.573555  -0.413463  -0.707165  m }
Planta ShowWindow { TRUE }
Planta Lock2D { FALSE }
Planta SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

dafTruck.Label Position { -0.5  -0.65  0.0  m }
dafTruck.Label Size { 0.0  0.3  1.0  m }

dafTruck_Copy1.Label Size { 1.8  0.3  1.0  m }

route2VoiesAvecTrottoirs_Copy1.Label Size { 3.3  0.3  1.0  m }

route2VoiesAvecTrottoirs_Copy2.Label Size { 3.3  0.3  1.0  m }

route2VoiesAvecTrottoirs_Copy3.Label Size { 3.3  0.3  1.0  m }
