
RecordEdits

Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Shape { Shape1 }
Define View { Planta  Programa }

Define EntityLabel { Shape1.Label }


Simulation Description { 'Simulation run control inputs' }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation LockWindows { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { TRUE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { TRUE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Shape ***

Shape1 Position { 0  0  0  m }
Shape1 Size { 10  6  1  m }
Shape1 Orientation { 0  0  90  deg }

# *** View ***

Planta Description { 'Default view window' }
Planta ViewCenter { 6.8  3.0  16.432264  m }
Planta ViewPosition { 6.8  3.0  33.752772  m }
Planta WindowPosition {  }
Planta ShowWindow { TRUE }
Planta Lock2D { TRUE }
Planta SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

Programa ViewCenter { -2.4  0.1  27.803603  m }
Programa ViewPosition { -2.4  0.1  28.272941  m }
Programa WindowPosition {  }
Programa ShowWindow { TRUE }
Programa Lock2D { TRUE }
