
RecordEdits

Define EntityGenerator { GerarTubo }
Define EntityProcessor { EntityProcessor1  Furar }
Define EntitySink { Saida }
Define Queue { FilaFurar  Queue1 }
Define SimEntity { Tubo }
Define Resource { Operador  Resource1 }
Define ColladaModel { Axis  mannequinMale-model  toaster-model  toaster1-model }
Define DisplayEntity { XY-Grid  XYZ-Axis  mannequinMale  toaster }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Shape { Shape1 }
Define View { Codigo  Planta }

Define EntityLabel { Shape1.Label  mannequinMale.Label }


Simulation Description { 'Simulation run control inputs' }

# *** EntityGenerator ***

GerarTubo NextComponent { FilaFurar }
GerarTubo InterArrivalTime { 1  s }
GerarTubo PrototypeEntity { Tubo }
GerarTubo MaxNumber { 100 }

# *** EntityProcessor ***

EntityProcessor1 NextComponent { Saida }
EntityProcessor1 WaitQueue { Queue1 }
EntityProcessor1 ResourceList { Resource1 }
EntityProcessor1 ServiceTime { 1  min }

Furar NextComponent { Queue1 }
Furar WaitQueue { FilaFurar }
Furar ResourceList { Operador }
Furar ServiceTime { 10  s }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 256 }
Simulation ShowLabels { FALSE }
Simulation ShowSubModels { TRUE }
Simulation LockWindows { TRUE }
Simulation ShowReferences { FALSE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

GerarTubo Position { -3.7  3.6  0.0  m }
GerarTubo VisibleViews { Codigo }

EntityProcessor1 Position { 5.4  4.7  -0.0  m }

Furar Position { 1.7  4.5  1.2  m }
Furar VisibleViews { Codigo }

Saida Position { 11.1  5.7  0.0  m }
Saida VisibleViews { Codigo }

FilaFurar Position { 0.4  -0.1  0.6  m }
FilaFurar Orientation { 0  0.0  -90.0  deg }
FilaFurar VisibleViews { Codigo }
FilaFurar MaxPerLine { 5 }
FilaFurar MaxRows { 10 }

Queue1 Position { 5.5  -0.1  0.6  m }
Queue1 Orientation { 0.0  0.0  -90  deg }
Queue1 MaxPerLine { 6 }
Queue1 MaxRows { 9 }

Tubo Position { -5.2  3.7  0.0  m }
Tubo Alignment { 0.0  0.0  -0.5 }
Tubo Size { 0.5  0.5  1.2  m }
Tubo DisplayModel { Cube }

Operador Position { 3.8  4.2  0.0  m }
Operador VisibleViews { Codigo }

Resource1 Position { 6.9  4.6  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

mannequinMale-model ColladaFile { mannequinMale.zip }

toaster-model ColladaFile { toaster.zip }

toaster1-model ColladaFile { toaster.zip }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

mannequinMale Position { 2.7  4.5  0.9  m }
mannequinMale Alignment { 0.0  0.0  0.0 }
mannequinMale Size { 0.7  1.8  0.3  m }
mannequinMale Orientation { 90  0  -90  deg }
mannequinMale DisplayModel { mannequinMale-model }
mannequinMale VisibleViews { Planta }

toaster Position { 1.7  4.5  0.6  m }
toaster Alignment { 0.0  0.0  0.0 }
toaster Size { 1  1.2  2  m }
toaster Orientation { 90  0  0  deg }
toaster DisplayModel { toaster-model }
toaster VisibleViews { Planta }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Shape ***

Shape1 Position { 5.0  3.0  -0.001  m }
Shape1 Size { 10  6  1  m }
Shape1 FillColour { PeachPuff }

# *** View ***

Codigo ViewPosition { 14.2  -4.8  6.819654  m }
Codigo ViewDirection { -0.57735  0.57735  -0.57735  m }
Codigo WindowPosition { 270  151 }
Codigo ShowWindow { TRUE }
Codigo Lock2D { FALSE }

Planta Description { 'Default view window' }
Planta ViewPosition { 8.3  2.1  22.934992  m }
Planta ViewDirection { 0.0  0.0  -1.0  m }
Planta ShowWindow { TRUE }
Planta Lock2D { TRUE }
Planta SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

Shape1.Label Show { FALSE }

mannequinMale.Label Position { 0.1  0.0  0.0  m }
mannequinMale.Label Show { FALSE }
