
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1 }
Define EntityDelay { EntityDelay1 }
Define EntityGenerator { EntityGenerator1 }
Define EntityProcessor { EntityProcessor1  EntityProcessor2 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1  Queue2 }
Define SimEntity { SimEntity1 }
Define Resource { Resource1  Resource2 }
Define ColladaModel { Axis }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Shape { Shape1 }
Define Text { Text1  Text2  Text3 }
Define View { Codigo }

Define EntityLabel { EntityDelay1.Label  Shape1.Label }


Simulation Description { 'Simulation run control inputs' }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[Queue2].QueueLength < 3' }

# *** EntityDelay ***

EntityDelay1 NextComponent { Queue2 }
EntityDelay1 Duration { 1  s }
EntityDelay1 MinSeparation {  }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Queue1 }
EntityGenerator1 InterArrivalTime { 1  s }
EntityGenerator1 EntitiesPerArrival {  }
EntityGenerator1 PrototypeEntity { SimEntity1 }
EntityGenerator1 MaxNumber { 100 }

# *** EntityProcessor ***

EntityProcessor1 ImmediateThresholdList { ExpressionThreshold1 }
EntityProcessor1 ImmediateReleaseThresholdList {  }
EntityProcessor1 OperatingThresholdList {  }
EntityProcessor1 ReleaseThresholdList {  }
EntityProcessor1 NextComponent { EntityDelay1 }
EntityProcessor1 WaitQueue { Queue1 }
EntityProcessor1 ResourceList { Resource1 }
EntityProcessor1 ServiceTime { 10  s }

EntityProcessor2 NextComponent { EntitySink1 }
EntityProcessor2 WaitQueue { Queue2 }
EntityProcessor2 ResourceList { Resource2 }
EntityProcessor2 ServiceTime { 60  s }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 4 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { FALSE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

ExpressionThreshold1 Position { 2.2  4.4  0.0  m }

EntityDelay1 Points { { 3.0  1.8  0.0  m } { 7.4  3.3  0.0  m } }

EntityGenerator1 Position { -0.8  1.0  0.0  m }

EntityProcessor1 Position { 2.2  1.9  0.0  m }

EntityProcessor2 Position { 8.1  1.8  0.0  m }

EntitySink1 Position { 10.7  3.4  0.0  m }

Queue1 Position { 2.2  3.0  0.0  m }

Queue2 Position { 8.0  4.0  0.0  m }

SimEntity1 Position { -2.0  1.0  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

Resource1 Position { 2.2  -0.5  0.0  m }

Resource2 Position { 8.1  -0.5  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Shape ***

Shape1 Position { 5.0  2.5  0.0  m }
Shape1 Size { 10  5  1  m }
Shape1 FillColour { PapayaWhip }

# *** Text ***

Text1 Position { 2.3  0.9  0.0  m }
Text1 Size { 1.4  0.6  1.0  m }
Text1 Format { '10 s' }

Text2 Position { 8.2  0.8  0.0  m }
Text2 Size { 1.4  0.6  1.0  m }
Text2 Format { '60 s' }

Text3 Position { 5.7  1.9  0.0  m }
Text3 Size { 1.4  0.6  1.0  m }
Text3 Orientation { 0.0  0.0  21.0  deg }
Text3 Format { '5 s' }

# *** View ***

Codigo Description { 'Default view window' }
Codigo ViewPosition { 4.8  2.0  13.012863  m }
Codigo ViewDirection { 0.0  0.0  -1.0  m }
Codigo ShowWindow { TRUE }
Codigo Lock2D { TRUE }
Codigo SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

EntityDelay1.Label Position { 0.3  -0.2  0.0  m }
EntityDelay1.Label Orientation { 0.0  0.0  21.0  deg }

Shape1.Label Position { -0.0  -3.0  0.0  m }
Shape1.Label Size { 0.9  0.3  1.0  m }
